<title>CS:GO-Skins</title>
<div>
    <h1 style="text-align: center">Title</h1>
</div>

<div style="margin-left: auto; margin-right: auto;">
    <form>
        User Name:<br>
        <input type="text" name="username" value="username" placeholder="Username">
        <br>
        Password:<br>
        <input type="password" name="password" value="password" placeholder="Password">
        <br>
        <input type="submit" value="submit">
    </form>
</div>